header{
    background-color: rgb(119, 119, 241);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
#main-heading{
    text-align: center;
    list-style: none;
}
.heading{
display: inline;
margin-right: 60px;
font-style: oblique;
font-size: 20px;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


footer{
    background-color: rgb(119, 119, 241);
    height: 40px;
}
#image{
    display: flex;
    justify-content: center;
}
#info{
background-color: chocolate;
}

